@import "https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap";

:root {
  --p-nc: 0 140px; /* Nav container padding */
  --fs-li: 1.2rem; /* Nav links size */
  --fs-ali: 1.3rem; /* active nav link size */
  --fs-lg: 2rem; /* nav logo size */
  --h-nav: 5=rem; /* nav height */
}

.navbar {
  background-color: #0e63e3;
  height: var(--h-nav);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 20;
  padding: var(--p-nc);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}
/* Navigation logo styles */
.nav-logo {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: var(--fs-lg);
  font-family: "Cabin";
}
/* Navigation ul tag class target */
.navMenu {
  display: flex;
  list-style: none;
}
/* Navigation li tag class target */
.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  position: relative;
  margin-left: 0.4rem;
  font-family: "Cabin", sans-serif;
  font-size: var(--fs-li);
  letter-spacing: 1px;
  transition: all 0.5s;
  bottom: 0;
}
/* Navigation li tag class hover effect */
.nav-links:hover {
  font-size: var(--fs-ali);
}

/* Active nav link styles */
.nav-item .active {
  border-bottom: 3px solid white;
  font-size: var(--fs-ali);
  font-weight: bold;
  bottom: 5px;
}

/* Nav link hover effect */
.nav-links:before {
  content: " ";
  position: absolute;
  width: 100%;
  border-bottom: 3px solid white;
  background-color: rgb(255, 255, 255);
  z-index: -1;
  left: 0;
  bottom: -3.9px;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 5px;
  transition-delay: 0.2s;
}

.nav-links:hover:before {
  opacity: 1;
  transition-delay: 0s;
}

/* Hamburger icon style */
.nav-icon {
  display: none;
}

/*Responsive settings*/
@media screen and (max-width: 1200px) {
  :root {
    --p-nc: 0 60px; /* Nav container padding */
    --fs-li: 1.15rem; /* Nav links size */
    --fs-ali: 1.2rem; /* active nav link size */
    --fs-lg: 1.9rem; /* nav logo size */
    --h-nav: 4.8rem; /* nav height */
  }

  .nav-links {
    margin-left: 0rem;
  }
}

/* Menu toggle responsiveness */
@media screen and (max-width: 960px) {
  :root {
    --fs-lg: 2rem; /* nav logo size */
    --h-nav: 4rem; /* nav height */
  }
  .navMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #858585;
    position: absolute;
    top: 4rem;
    left: -100%;
    opacity: 1;
    transition: all 0.3s;
    overflow-x: hidden;
  }

  .navMenu.active {
    background: #ececec;
    left: 0;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 1;
  }

  .nav-item .active {
    color: #1b83fd;
    border-bottom: 3px solid #1b83fd;
    box-shadow: #88888883 0 4px 12px;
    bottom: 0;
  }

  .nav-links:before {
    display: none;
  }

  .nav-links {
    width: 100%;
    display: table;
    color: #2f2f2f;
    margin-left: 0px;
    padding: 1rem 2rem;
  }

  .navbar ul li a:hover {
    background-color: #fff;
    box-shadow: #88888883 0 4px 12px;
  }

  .nav-icon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
  }

  .cross {
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
    color: #fff;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --p-nc: 0 30px; /* Nav container padding */
    --fs-li: 1.1rem; /* Nav links size */
    --fs-ali: 1.2rem; /* active nav link size */
    --fs-lg: 1.8rem; /* nav logo size */
    --h-nav: 4rem; /* nav height */
  }
}

@media screen and (max-width: 400px) {
  :root {
    --p-nc: 0 25px; /* Nav container padding */
    --fs-li: 1rem; /* Nav links size */
    --fs-ali: 1.05rem; /* active nav link size */
    --fs-lg: 1.4rem; /* nav logo size */
    --h-nav: 3.3rem; /* nav height */
  }

  .nav-icon {
    font-size: 1.5rem;
  }

  .cross {
    font-size: 2rem;
  }

  .navMenu {
    top: 3.3rem;
    left: -110%;
  }

  .nav-links {
    padding: 14px 25px;
  }
}
