:root {
  --pd-c: 80px 140px 100px; /*container padding*/
  --fs-h: 2.6rem; /* heading font size */
  --fs-p: 1.3rem; /* paragraph font size*/
  --fs-bt: 1.15rem; /* button font size */
  --fh-p: 35px; /* paragraph line height */
}

.portfolio-container {
  padding: var(--pd-c);
}

.portfolioRow {
  display: flex;
  width: 100%;
  gap: 5rem;
  margin-bottom: 157px;
}

/*For reversing sections*/
.RL {
  flex-flow: row-reverse;
}

.portfolio-imgContainer,
.portfolio-content {
  width: 50%;
}

.portfolio-image {
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.portfolio-image:hover {
  transform: translateY(-8px);
  box-shadow: rgba(46, 46, 46, 0.719) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.418) 0px 8px 20px -8px;
}

.portfolio-content {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-evenly;
}

.portfolio-heading {
  font-family: "Bahnschrift", sans-serif;
  font-size: var(--fs-h);
  color: #3f3f3f;
  font-weight: 600;
  margin-bottom: 15px;
}

.portfolio-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-p);
  line-height: var(--fh-p);
  color: #4c565f;
  /*For allowing line break in json*/
  white-space: pre-line;
  vertical-align: bottom;
  text-align: justify;
}

.portfolio-button {
  border-radius: 35px;
  font-family: "Roboto";
  font-size: var(--fs-bt);
  font-weight: 500;
  padding: 13px 30px;
  color: #2f2f2f;
  border: solid 2px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(90deg, #62cff5, #c091fc);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fbfbfd inset;
  transition: all 0.4s ease;
  cursor: pointer;
  align-self: baseline;
  margin-top: 20px;
}

.portfolio-button:hover {
  box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px,
    rgba(49, 49, 49, 0.3) 0px 8px 16px -8px;
  color: white;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(90deg, #62cff5, #c091fc);
  transform: translateY(-2px);
}

@media all and (max-width: 1500px) {
  :root {
    --fs-h: 1.8rem; /* heading font size */
    --fs-p: 1rem; /* paragraph font size*/
    --fs-bt: 0.95rem; /* button font size */
    --fh-p: 30px; /* paragraph line height */
  }

  .portfolioRow {
    gap: 3rem;
    margin-bottom: 90px;
  }

  .portfolio-button {
    border-radius: 35px;
    padding: 11px 23px;
    margin-top: 15px;
  }
  .portfolio-heading {
    margin-bottom: 10px;
  }
}

@media all and (max-width: 1200px) {
  :root {
    --pd-c: 50px 60px 70px; /*container padding*/
    --fs-h: 1.8rem; /* heading font size */
    --fs-p: 0.95rem; /* paragraph font size*/
    --fs-bt: 0.97rem; /* button font size */
    --fh-p: 27px; /* paragraph line height */
  }

  .portfolioRow {
    gap: 3rem;
    margin-bottom: 90px;
  }
  .portfolio-button {
    border-radius: 35px;
    padding: 10px 23px;
    margin-top: 15px;
  }
  .portfolio-heading {
    margin-bottom: 5px;
  }
}

@media all and (max-width: 960px) {
  :root {
    --fs-h: 2rem; /* heading font size */
    --fs-p: 1.05rem; /* paragraph font size*/
    --fs-bt: 1rem; /* button font size */
    --fh-p: 28px; /* paragraph line height */
  }

  .portfolioRow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio-imgContainer,
  .portfolio-content {
    width: 90%;
  }

  .portfolioRow {
    gap: 1.7rem;
    margin-bottom: 90px;
  }
  .portfolio-button {
    padding: 12px 30px;
  }
  .portfolio-heading {
    margin-bottom: 10px;
  }
}

@media all and (max-width: 600px) {
  :root {
    --pd-c: 20px 30px 40px; /*container padding*/

    --fs-h: 1.5rem; /* heading font size */
    --fs-p: 0.9rem; /* paragraph font size*/
    --fs-bt: 0.85rem; /* button font size */
    --fh-p: 24px; /* paragraph line height */
  }

  .portfolio-imgContainer,
  .portfolio-content {
    width: 100%;
  }

  .portfolioRow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolioRow {
    gap: 1.3rem;
    margin-bottom: 40px;
  }
  .portfolio-button {
    padding: 10px 22px;
    margin-top: 10px;
  }
  .portfolio-heading {
    margin-bottom: 5px;
  }
}

@media all and (max-width: 400px) {
  :root {
    --pd-c: 30px 25px 50px; /*container padding*/
    --fs-h: 1.4rem; /* heading font size */
    --fs-p: 0.875rem; /* paragraph font size*/
    --fs-bt: 0.8rem; /* button font size */
    --fh-p: 20px; /* paragraph line height */
  }

  .portfolio-imgContainer,
  .portfolio-content {
    width: 100%;
  }

  .portfolioRow {
    gap: 1.1rem;
    margin-bottom: 30px;
  }
  .portfolio-button {
    padding: 8px 18px;
    margin-top: 13px;
  }
  .portfolio-heading {
    margin-bottom: 8px;
  }
}
