/*Service and More Cards styling*/
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,400;1,500;1,700&display=swap");

:root {
  --pd-c: 80px 140px; /*container padding*/
  --fs-S-h: 1.8rem; /* heading font size */
  --fs-S-p: 1.3rem; /* paragraph font size*/
  --fs-S-bt: 1.05rem; /* button font size */
  --fh-S-p: 28px; /* paragraph line height */
  --lg-S-w: 130px; /* logo width */
}

.ServicesPage {
  padding: var(--pd-c);
}

/*Service Card section*/
.serviceCardSection {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3rem 1.5rem;
}

.moreDetails {
  font-family: "Inter";
  font-weight: 600;
  color: white;
  cursor: pointer;
  font-size: 3rem;
  text-align: center;
}

.serviceCard {
  padding: 30px 0px;
  max-width: 370px;
  background-color: #bcebfc;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: rgba(69, 69, 87, 0.25) 0px 8px 20px -5px,
    rgba(134, 134, 134, 0.3) 0px 4px 8px -4px;
}

.serviceCard:hover {
  color: white;
  background-color: #3fbfe9;
  transform: translateY(-5px);
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.logo {
  width: var(--lg-S-w);
  transition: 0.5s ease-in;
}

.serviceCard:hover .logo,
.serviceCard:hover .cardName,
.serviceCard:hover .cardDescription {
  transform: translateY(-5px);
}

.aboutLogo {
  margin: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cardName {
  font-family: "Inter";
  font-size: var(--fs-S-h);
  font-weight: 700;
  margin-top: 10px;
  transition: transform 0.5s ease-in;
}

.cardDescription {
  font-family: "Roboto";
  padding: 10px;
  font-weight: 400;
  font-size: var(--fs-S-p);
  margin-top: 5px;
  transition: transform 0.5s ease-in;
  line-height: var(--fh-S-p);
}

.contactButton {
  border-radius: 26px;
  font-family: "Roboto";
  font-size: var(--fs-S-bt);
  font-weight: 600;
  padding: 13px 25px;
  color: #2f2f2f;
  border: solid 2px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(90deg, #62cff5, #c091fc);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fbfbfd inset;
  transition: all 0.4s ease;
  cursor: pointer;
}

.serviceCard:hover .contactButton:hover {
  border: solid 2px white;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px,
    rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
  color: white;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(90deg, #62cff5, #c091fc);
  transform: translateY(-2px);
}

@media all and (max-width: 1500px) {
  :root {
    --fs-S-h: 1.4rem; /* heading font size */
    --fs-S-p: 1rem; /* paragraph font size*/
    --fs-S-bt: 0.95rem; /* button font size */
    --fh-S-p: 23px; /* paragraph line height */
    --lg-S-w: 95px; /* logo width */
  }
  .serviceCardSection {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2.7rem 1.2rem;
  }

  .serviceCard {
    padding: 28px 0px;
    width: 285px;
  }

  .cardName {
    margin-top: 0px;
  }

  .cardDescription {
    margin-top: 5px;
    padding: 5px;
  }

  .contactButton {
    padding: 10px 15px;
  }
}
@media all and (max-width: 1200px) {
  :root {
    --fs-S-h: 1.3rem; /* heading font size */
    --fs-S-p: 0.95rem; /* paragraph font size*/
    --fs-S-bt: 0.9rem; /* button font size */
    --fh-S-p: 20px; /* paragraph line height */
    --lg-S-w: 90px; /* logo width */
  }

  .cardDescription {
    margin-top: 4px;
  }

  .serviceCardSection {
    justify-content: space-evenly;
    gap: 2.7rem 1.2rem;
  }

  .serviceCard {
    padding: 34px 0px;
    width: 290px;
  }
  .contactButton {
    padding: 9px 13px;
  }
}

/*single card optimization*/

@media all and (max-width: 960px) {
  :root {
    --fs-S-h: 1.2rem; /* heading font size */
    --fs-S-p: 0.9rem; /* paragraph font size*/
    --fs-S-bt: 0.85rem; /* button font size */
    --fh-S-p: 20px; /* paragraph line height */
    --lg-S-w: 75px; /* logo width */
  }

  .serviceCardSection {
    justify-content: space-evenly;
  }

  .serviceCard {
    padding: 30px 0px;
    width: 250px;
  }
  .cardName {
    margin-top: 0px;
  }

  .cardDescription {
    padding: 0px;
    margin-top: 5px;
  }

  .contactButton {
    padding: 9px 15px;
  }
}

@media all and (max-width: 650px) {
  :root {
    --fs-S-h: 1.3rem; /* heading font size */
    --fs-S-p: 1rem; /* paragraph font size*/
    --fs-S-bt: 0.95rem; /* button font size */
    --fh-S-p: 23px; /* paragraph line height */
    --lg-S-w: 100px; /* logo width */
  }

  .serviceCardSection {
    justify-content: space-evenly;
    gap: 2.5rem 1.4rem;
  }

  .serviceCard {
    padding: 35px 0px;
    width: 320px;
  }
  .cardName {
    margin-top: 0px;
  }

  .cardDescription {
    padding: 5px;
  }

  .contactButton {
    padding: 9px 16px;
  }
}

/*Mobile optimization*/
@media all and (max-width: 400px) {
  :root {
    --fs-S-p: 1rem; /* paragraph font size*/
    --fs-S-bt: 0.95rem; /* button font size */
    --fh-S-p: 22px; /* paragraph line height */
    --lg-S-w: 90px; /* logo width */
  }

  .serviceCardSection {
    gap: 1.5rem 1.4rem;
  }

  .serviceCard {
    padding: 30px 0px;
    width: 100%;
    min-width: 140px;
  }
  .cardName {
    margin-top: 0px;
  }

  .contactButton {
    padding: 10px 20px;
  }
}
